<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>아 전 진짜 발로 함..</title>
    <link rel='stylesheet' href='/s/style.css' />
    <script type-"text/javascript" src="/j/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/dist/jquery.jqplot.min.js"></script>
    <script type="text/javascript" src="/dist/plugins/jqplot.canvasTextRenderer.min.js"></script>
    <script type="text/javascript" src="/dist/plugins/jqplot.canvasAxisLabelRenderer.min.js"></script>
    <script type="text/javascript" src="/dist/plugins/jqplot.dateAxisRenderer.min.js"></script>
  </head>
  <body>
    <h1>보드를 선택해 주세요</h1>
    <% for(var i = 0, li = ids.length; i < li; i++) { %>
    <li> <input type='button' index="<%=i%>" class='listBtn' value="<%= names[i] %>" data-value="<%= ids[i] %>" /> </li>
    <% } %>
    <input type="hidden" id="listCount" value="<%= ids.length %>" />


    <div id="burnDown"> </div>

    <script>
      var board_count = $("#listCount").val();
      var board_id = [];

      function displayBurnDown(count, period) {
        var ideal_line = [[period.start, count.total], [period.end, 0]];
        var plot = $.jqplot('burnDown', [count.day, ideal_line], {
          'title' : 'Our BurnDown',
          'axes' : {
            'xaxis' : {
              renderer : $.jqplot.DateAxisRenderer,
              tickOptions : {formatString:'%m/%#d'},
              tickInterval:'1 day'
            },
            'yaxis' : {
              'min' : 0,
              'max' : count.total
            }
          },
          'series' : [{show:true, label:"Now", showLine:true, showMarker:true, lineWidth:4, markerOptions:{style:'square', show : true}}],
          'highlighter' : { show : true }
        });
      }

      $(".listBtn").click(function() {
        var index = $(this).attr('index');
        var board_id = $(this).attr('data-value');
        var uri = '/board/list?board_id=' + board_id;

        $.get(uri, function(data) {
          var todo_id = data.todo_id;
          var doing_id = data.doing_id;
          var done_id = data.done_id;
          var chart_uri = '/board/burndown?board_id=' + board_id;
          chart_uri += encodeURI("&todo_id=" + todo_id + "&doing_id=" + doing_id + "&done_id=" + done_id);

          $.get(chart_uri, function (data) {
            var count = {
              total : data.total_count,
              today : data.today_count,
              day : data.day_count
            };
            var period = {
              "start" : data.start_date,
              "end" : data.due_date
            }

            displayBurnDown(count, period);
          });
        });
      });


    
    </script>
    

  </body>
</html>
